UtilityDelta.Client.ServiceLocator/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/Service.svc?xsd=xsd0"
             namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="ServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="RequestParameter" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceAssemblyName" nillable="true" type="xs:string" />
  <xs:element name="InterfaceClassName" nillable="true" type="xs:string" />
  <xs:element name="MethodName" nillable="true" type="xs:string" />
  <xs:element name="ServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="Response" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>